services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: expenses
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/expenses
      API_PREFIX: /api
      CORS_ORIGINS: '["http://localhost:4173","http://127.0.0.1:4173", "http://192.168.100.72:4173"]'
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    command: >
      sh -c "
      until pg_isready -h db -p 5432 -U postgres; do
        echo 'Waiting for db...';
        sleep 1;
      done;
      alembic upgrade head &&
      uvicorn app.main:app --host 0.0.0.0 --port 8000
      "

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://192.168.100.72:8000/api
    environment:
      VITE_API_URL: http://192.168.100.72:8000/api
    depends_on:
      - backend
    ports:
      - "4173:4173"

volumes:
  dbdata:
