fastapi==0.115.5
uvicorn[standard]==0.32.0
SQLAlchemy==2.0.25
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.4.0
alembic==1.13.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
